$primary-color: #53fffc;
$secondary-color: #ff9519;
$links-color: #ff1f39;

body {
  background-color: #000;
  color: $primary-color;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

h2 {
  clear: both;
  display: block;
}

section,
.main,
.misc-details {
  box-sizing: border-box;
  flex: 0 0 50%;
  margin-bottom: 20px;
  padding: 10px;

  .box {
    background-color: #333;
    border: 2px solid $primary-color;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 10px;
  }
}

.misc-details {
  flex: 0 0 60%;

  li {
    box-shadow: 1px 1px 5px #fff;
    padding: 10px;

    h2 {
      color: $secondary-color;
    }
  }

  a {
    color: $links-color;
  }
}

.full-width {
  flex: 0 0 100%;
}

.timeline-container {
  display: none;
  flex: 0 0 100%;
  padding: 5px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline {
  background-color: $primary-color;
  height: 5px;
  overflow: visible;
  position: relative;
  width: 98%;
  z-index: 10;

  .orion1 {
    left: 0;
  }

  .orion2 {
    // 50 months
    left: calc(100% * 50/187);
  }

  .orion3 {
    // 66 months (50 months + 16 months)
    left: calc(100% * 66/187);
  }

  .tribe1 {
    // 84 months (66 months + 18 months)
    left: calc(100% * 84/187);
  }

  .jc1 {
    // 89 months (84 months + 5 months)
    left: calc(100% * 89/187);
  }

  .jc2 {
    // 115 months (89 months + 26 months)
    left: calc(100% * 115/187);
  }

  .g2a1 {
    // 124 months (115 months + 9 months)
    left: calc(100% * 124/187);
  }

  .g2a2 {
    // 130 months (124 months + 6 months)
    left: calc(100% * 130/187);
  }

  .mpowered1 {
    // 139 months (130 months + 9 months)
    left: calc(100% * 139/187);
  }

  .siyavula1 {
    // 158 months (139 months + 19 months)
    left: calc(100% * 158/187);
  }

  .siyavula2 {
    // 171 months (158 months + 13 months)
    left: calc(100% * 171/187);
  }

  .siyavula3 {
    // 184 months (171 months + 13 months)
    left: calc(100% * 184/187);
  }

  .next {
    // 187 months (184 months + 3 months)
    left: 100%;
  }

  .big-milestone,
  .small-milestone {
    border: 3px solid $primary-color;
    border-radius: 50%;
    height: 15px;
    position: absolute;
    top: -8px;
    width: 15px;
    z-index: 20;
  }

  .big-milestone {
    background-color: #f00;
  }

  .small-milestone {
    background-color: $primary-color;
  }
}

.timeline-labels {
  margin-left: 8px;
  margin-top: 20px;
  overflow: visible;
  width: 98%;

  .employer {
    background-color: #f8ff34;
    border: 0;
    box-sizing: border-box;
    color: #444;
    display: inline-block;
    text-align: center;
  }

  // Slight fidgeting of the data to give Tribe a little more space
  .orion {
    width: calc(100% * 82/187);                // Should be: calc(100% * 84/187)
  }

  .tribe {
    width: calc(100% * 8/187);                 // Should be: calc(100% * 5/187)
  }

  .jobcrystal {
    width: calc(100% * 34/187 - 4px);          // Should be: calc(100% * 35/187)
  }

  .go2africa {
    width: calc(100% * 15/187 - 4px);
  }

  .mpowered {
    width: calc(100% * 19/187 - 6px);
  }

  .siyavula {
    width: calc(100% * 28/187 - 4px);
  }
}

.skills-container {
  position: relative;

  h3 {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #000;
    display: inline-block;
    font-size: 90%;
    height: 45px;
    left: 0;
    line-height: 1.5em;
    margin: 0 0 20px;
    position: absolute;
    text-align: center;
    top: 280px;
    width: 120px;
  }
}

.skills {
  border: 1px solid $primary-color;
  display: inline-block;
  height: 100px;
  padding: 10px;
  position: relative;
  top: 280px;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;

  li {
    // display: inline-block;
    // height: 200px;

    label {
      display: inline-block;
      vertical-align: top;
      width: 128px;
    }
  }

  .bar-container {
    display: inline-block;
    height: 15px;
    width: 100px;
  }

  .skill-level-4 .bar {
    background-color: #ff1f39;
    width: 100%;
  }

  .skill-level-3 .bar {
    background-color: #ff9519;
    width: 75%;
  }

  .skill-level-2 .bar {
    background-color: #f7ff1f;
    width: 50%;
  }

  .skill-level-1 .bar {
    background-color: #efffe0;
    width: 25%;
  }

  .bar {
    height: 100%;
    overflow: hidden;

    &.dampen {
      background-color: #444;
    }
  }
}

.job {
  display: none;
}

.education {
  display: none;
}

.job-container {
  box-sizing: border-box;
  flex: 0 0 30%;
  height: 400px;
  padding: 10px 20px 10px 10px;
}

h3,
h4 {
  margin: 1em 0 .5em;
}

h4 {
  color: #ff9519;
  // text-decoration: underline;
}

.work-location,
.time-frame {
  font-size: 90%;
  font-style: italic;
}

.skills-graphs {
  display: none;
  flex: 0 0 70%;
  height: 400px;
}

.skills-group {
  height: 300px;
  position: absolute;
  width: 277px;

  &.skills3 {
    .skills {
      height: 75px;
    }

    h3 {
      width: 95px;
    }
  }

  &.skills6 {
    .skills {
      height: 155px;
    }

    h3 {
      width: 175px;
    }
  }

  &.skills7 {
    .skills {
      height: 175px;
    }

    h3 {
      width: 195px;
    }
  }

  &.skills8 {
    .skills {
      height: 205px;
    }

    h3 {
      width: 225px;
    }
  }

  &.databases {
    left: 0;
  }

  &.languages {
    left: 121px;
  }

  &.full-stack {
    left: 242px;
  }

  &.methodologies {
    left: 438px;
  }

  &.source-control {
    left: 534px;
  }

  &.operations {
    left: 630px;
  }

  &.other {
    left: 726px;
  }
}

section {
  header,
  footer {
    box-sizing: border-box;
    width: 100%;
  }

  section div {
    border-bottom: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    display: none;
    overflow: hidden;
    padding: 10px;

    h2 {
      font-size: 1em;
      margin-top: 0;
      width: 100%;
    }

    p {
      margin: 0 0 5px;
    }

    li {
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  header {
    background: $primary-color;
    color: #444;
    padding-left: 10px;
  }

  footer {
    height: 5px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;

    &:after {
      background: $primary-color;
      bottom: -10px;
      content: '';
      height: 250px;
      position: absolute;
      right: -502%;
      transform: rotate(-45deg);
      transform-origin: 54% 100%;
      width: 1100%;
      z-index: -1;
    }
  }
}

.main {
  flex: 0 0 40%;
}

@media screen and (min-width: 1225px) {
  .timeline-container {
    display: block;
  }
}

@media screen and (min-width: 870px) {
  .skills-graphs {
    display: block;
  }
}
